button[id^=codesnap]
{
	background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s
}
button[id^=codesnap]:hover
{	background-color: #008CBA;

}
button[id^=codesnap]:active
{
	background-color: #4CAF50;

}
