div[id="clear_div"]{
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: #4CAF50;
  border-radius: 30px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
 
}
div[id="clear_div"]:hover
{ background-color: #dc962f;

}
img[id="Clear"]{
  
  width: 14px;
  height: 14px;
  
  margin: 8px;
 
}
button {
    background: #4CAF50;
    color: white;
    border: blue;
    border-radius: 5px;
    padding: 5px 5px;
    float: right;
}
button:hover
{ background-color: #dc962f;

}
button:active
{
  background-color: #4CAF50;
}
span[id^="list"] {
  cursor: pointer;
  font-size: medium;
  padding: 5px 5px;
  color: white;
}
div[id="mylist"]
{ padding: 10px;
  background-color:#03A9F4;
}
div[id="code"]
{
	background:#37474F; 
  color: white;
}
div {
  padding: 5px 5px;

}
pre[id^="hide"] {
	display: none;
	padding: 5px 5px;
}
h1,p{
	text-align: center;
	padding: 5px 5px;

}
html, body{
  margin: 0;
  background: #0288D1;
  color: white; 
}